<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv='refresh' content='3; href=http://localhost/'>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/signup.css') }}">
        <title>Inscription réussi</title>
    </head>
    <body>
        <p>Vous êtes désormais inscrit sur le site. Vous serez redirigé automatiquement vers la page d'accueil.</p>
    </body>
</html>